<html>
<head>

  <title>Google Maps Multiple Markers</title>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDZ5sqMueNtrZ1u6lG6ln3KtURMaOcESv4"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body>
  <div id="map" style="height: 400px;">
</div>
<script type="text/javascript">

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: new google.maps.LatLng(22.317,87.306),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    function sendRequest() {
     var csrftoken = Cookies.get('csrftoken');
    let url = "{% url 'getcoordinate' %}" ;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

        var  jsonobj = JSON.parse(this.response);
        console.log(jsonobj.data);

        for (var i=0; i<jsonobj.data.length;i++){
            var lat = jsonobj.data[i].latitude;
            var lon = jsonobj.data[i].longitude;
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lon),
        map: map
      });

        }
        map.setCenter(new google.maps.LatLng(lat, lon));
        {#location.reload(true);#}
     {#document.getElementById("demo").innerHTML = this.responseText;#}
          setTimeout(function(){
                sendRequest();
            }, 500);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader("Content-Type", "application/json");
  xhttp.setRequestHeader("X-CSRFToken", csrftoken);
  xhttp.send();
}
    sendRequest()
  </script>


</body>
</html>